<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h3>User Information Table</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ user.email }}</td>
                <td><a href="remove_user/{{ user.user_id }}" class="remove-button">Remove</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>
